[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=bob
Environment=EMAIL_PASSWORD=PSWD
WorkingDirectory=/home/bob/sites/SITENAME/source
ExecStart=/home/bob/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    --access-logfile ../access.log \
    --error-logfile ../error.log \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target